<div class="materials-table-container">
    <h2>Materials</h2>
    <table class="materials-table">
        <thead>
            <tr>
                <th>Material Name</th>
                <th>Quantity</th>
                <th>UpdatedAt</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each material}}
            <tr>
                <td><a href="/api/material/{{id}}">{{name}}</a></td>
                <td>{{quantity}}</td>
                {{#if updatedAt}}
                <td>{{formatDate updatedAt}}</td>
                {{else}}
                <td>{{formatDate createdAt}}</td>
                {{/if}}
                <td class="action-cell">
                    <button class="edit-button" onclick="location.href='/api/material/{{id}}/update'">
                        <i class="fas fa-edit"></i>
                    </button>
                    <form action="/api/material/{{id}}/delete" method="POST" class="delete-form" style="display:inline;">
                        <button type="button" class="delete-button" onclick="openModal(this)">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<!-- Modal oynasi -->
<div id="confirmationModal" class="modal">
    <div class="modal-content">
        <p>Materialni o'chirishni xohlaysizmi?</p>
        <button id="confirmDeleteButton" class="confirm-button">Ha</button>
        <button onclick="closeModal()" class="cancel-button">Yo'q</button>
    </div>
</div>

<script>
    let formToDelete;

    function openModal(button) {
        // Modalni ko'rsatadi
        document.getElementById("confirmationModal").style.display = "block";
        // O'chirish uchun kerakli formani saqlaydi
        formToDelete = button.closest("form");
    }

    function closeModal() {
        // Modalni yashiradi
        document.getElementById("confirmationModal").style.display = "none";
    }

    document.getElementById("confirmDeleteButton").addEventListener("click", function() {
        if (formToDelete) {
            formToDelete.submit(); // Agar tasdiqlangan bo'lsa, formani yuboradi
        }
        closeModal(); // Modalni yopadi
    });
</script>
