<main class="app-main"> <!--begin::App Content Header-->
    <div class="app-content-header"> <!--begin::Container-->
        <div class="container-fluid"> <!--begin::Row-->
            <div class="row">
                {{#if alert}}
                {{#if alert.success}}
                <div class="alert alert-success" id="alert" role="alert">
                    {{alert.message}}
                </div>
                {{else}}
                <div class="alert alert-danger" id="alert" role="alert">
                    {{alert.message}}
                </div>
                {{/if}}
                {{else}}
                {{/if}}
                <div class="col-md-6">
                    <h4>Materials</h4>
                </div>
                <div class="col-md-6 text-end"> <a href="/api/create-material" class="btn btn-primary">Add Material</a> </div>
            </div>
        </div> <!--end::Container-->
    </div> <!--end::App Content Header--> <!--begin::App Content-->
    <div class="app-content"> <!--begin::Container-->
        <div class="container-fluid"> <!--begin::Row-->
            <div class="row" style="width: 95%; margin: 0 auto;">
                <div class="card mb-4">
                    <div class="card-header">
                        <h3 class="card-title">Materials</h3>
                        <div class="card-tools">
                            <ul class="pagination pagination-sm float-end">
                                <li class="page-item"> <a class="page-link" href="#">&laquo;</a> </li>
                                <li class="page-item"> <a class="page-link" href="#">1</a> </li>
                                <li class="page-item"> <a class="page-link" href="#">&raquo;</a> </li>
                            </ul>
                        </div>
                    </div> <!-- /.card-header -->
                    <div class="card-body p-0">
                        <table class="table">
                            <thead>
                                {{#if allMaterials}}
                                <tr>
                                    <th style="width: 5%; text-align: center;">#</th>
                                    <th style="width: 25%; text-align: center;">Name</th>
                                    <th style="width: 15%; text-align: center;">Quantity</th>
                                    <th style="width: 20%; text-align: center;">Created at</th>
                                </tr>
                                {{/if}}
                            </thead>
                            <tbody>
                                {{#if allMaterials}}
                                {{#each allMaterials}}
                                <tr class="align-middle tbody-hover" style="cursor: pointer;"
                                    onclick="window.location.href='/api/material/{{id}}'">
                                    <td style="text-align: center;">{{number}}</td>
                                    <td style="text-align: center;">
                                        {{name}}
                                    </td>
                                    <td style="text-align: center;">
                                        {{quantity}}
                                    </td>
                                    <td style="text-align: center;">
                                        {{formatDate createdAt}}
                                    </td>
                                </tr>
                                {{/each}}
                                {{else}}
                                <p style="font-size: x-large; text-align: center;">Materials is empty!</p>
                                {{/if}}
                            </tbody>
                        </table>
                    </div> <!-- /.card-body -->
                </div> <!--end::Row-->
            </div> <!--end::Container-->
        </div> <!--end::App Content-->
</main> <!--end::App Main-->