<!--begin::App Main-->
<main class="app-main"> <!--begin::App Content-->
    <div class="app-content"> <!--begin::Container-->
        <div class="container-fluid"> <!--begin::Row-->
            <div class="row g-4"> <!--begin::Col-->
                {{#if alert}}
                {{#if alert.success}}
                <div class="alert alert-success" id="alert" role="alert">
                    {{alert.message}}
                </div>
                {{else}}
                <div class="alert alert-danger" id="alert" role="alert">
                    {{alert.message}}
                </div>
                {{/if}}
                {{else}}
                {{/if}}
                <div class="col-12">
                </div> <!--end::Col--> <!--begin::Col-->
                <div class="col-md-6"> <!--begin::Horizontal Form-->
                    <div class="card card-warning card-outline mb-4"> <!--begin::Header-->
                        <div class="card-header">
                            <div class="card-title">Update password</div>
                        </div> <!--end::Header--> <!--begin::Form-->
                        <form action="/api/user/{{user.id}}/update-password" method="post"> <!--begin::Body-->
                            <div class="card-body">
                                <div class="row mb-3"> <label for="password"
                                        class="col-sm-2 col-form-label">Password</label>
                                    <div class="input-group mb-3"> <input type="password" name="password" id="password"
                                            class="form-control" placeholder="Password">
                                        <div class="input-group-text"> <span class="bi bi-lock-fill"></span> </div>
                                    </div> <!--begin::Row-->
                                </div> <!--end::Body--> <!--begin::Footer-->
                                <div class="card-footer"> <button type="submit" class="btn btn-warning">Update</button>
                                    <a class="btn float-end" href="/api/user/{{user._id}}">Cancel</a>
                                </div>
                                <!--end::Footer-->
                        </form> <!--end::Form-->
                    </div> <!--end::Horizontal Form-->
                </div> <!--end::Col-->
            </div> <!--end::Row-->
        </div> <!--end::Container-->
    </div> <!--end::App Content-->
</main> <!--end::App Main-->

<script>
    let alert = document.getElementById('alert')
    setTimeout(() => {
        alert.style.display = "none"
    }, 3000)
</script>