<div class="users-table-container">
    <h2>Foydalanuvchilar Jadvali</h2>
    <table class="users-table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>createdAt</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each allUsers}}
            <tr>
                <td>{{username}}</td>
                <td>{{name}}</td>
                <td>{{formatDate createdAt}}</td>
                <td>
                    <button class="edit-button" onclick="location.href='/api/user/{{id}}/update'">
                        <i class="fas fa-edit"></i>
                    </button>
                    <form action="/api/user/{{id}}/delete" method="POST" class="delete-form" style="display:inline;">
                        <button type="button" class="delete-button" onclick="openModal(this)">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<!-- Modal oynasi -->
<div id="confirmationModal" class="modal">
    <div class="modal-content">
        <p>Userni o'chirishni xohlaysizmi?</p>
        <button id="confirmDeleteButton" class="confirm-button">Ha</button>
        <button onclick="closeModal()" class="cancel-button">Yo'q</button>
    </div>
</div>
<script>
    let formToDelete;

    function openModal(button) {
        // Modalni ko'rsatadi
        document.getElementById("confirmationModal").style.display = "block";
        // O'chirish uchun kerakli formani saqlaydi
        formToDelete = button.closest("form");
    }

    function closeModal() {
        // Modalni yashiradi
        document.getElementById("confirmationModal").style.display = "none";
    }

    document.getElementById("confirmDeleteButton").addEventListener("click", function() {
        if (formToDelete) {
            formToDelete.submit(); // Agar tasdiqlangan bo'lsa, formani yuboradi
        }
        closeModal(); // Modalni yopadi
    });
</script>
