<!--begin::App Main-->
<main class="app-main"> <!--begin::App Content Header-->
    <div class="app-content-header"> <!--begin::Container-->
        <div class="container-fluid"> <!--begin::Row-->
            <div class="row">
                        <div class="col-md-6">
                            <h4>Bakers</h4>
                        </div>
                        <div class="col-md-6 text-end"> <a href="/api/create-user" class="btn btn-primary">Add baker</a> </div>
                    </div><!--end::Row-->
        </div> <!--end::Container-->
    </div> <!--end::App Content Header--> <!--begin::App Content-->
    <div class="app-content"> <!--begin::Container-->
        <div class="container-fluid"> <!--begin::Row-->
            <div class="row">
                <div class="card mb-4">
                    <div class="card-header">
                        <h3 class="card-title">Bakers list</h3>
                        <div class="card-tools">
                            <ul class="pagination pagination-sm float-end">
                                <li class="page-item"> <a class="page-link" href="#">&laquo;</a> </li>
                                <li class="page-item"> <a class="page-link" href="#">1</a> </li>
                                <li class="page-item"> <a class="page-link" href="#">&raquo;</a> </li>
                            </ul>
                        </div>
                    </div> <!-- /.card-header -->
                    <div class="card-body p-0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="width: 7%;">#</th>
                                    <th style="width: 20%; margin: 0 auto;">Name</th>
                                    <th style="width: 20%; margin: 0 auto;">Username</th>
                                    <th style="width: 20%; margin: 0 auto;">Reports amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each allUsers}}
                                <tr class="align-middle">
                                    <td>{{number}}</td>
                                    <td><a href="/api/user/{{id}}"
                                            style="text-decoration:none; color: black;">{{name}}</a></td>
                                    <td><a href="/api/user/{{id}}"
                                            style="text-decoration:none; color: black;">{{username}}</a></td></td>
                                    <td>{{reportsAmount}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div> <!-- /.card-body -->
                </div> <!-- /.card -->
            </div> <!--end::Row-->
        </div> <!--end::Container-->
    </div> <!--end::App Content-->
</main> <!--end::App Main-->


{{!--
<a class="btn btn-primary" href="/api/user/{{id}}/update">Edit</a>
<a class="btn btn-success" href="/user/:id/delete">Delete</a>
--}}